.communicate {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px;
    height: 100%;
  }
  .content {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    @include flex-lay(column, nowrap, flex-start, flex-start);
  }
