.add_service {
  padding: 0 40px;
  .package_name {
    width: 676px;
    height: 32px;
  }
  .org_name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 0 10px;
  }
  .item_panel {
    flex: 0 0 50%;
    margin-top: 20px;
  }
}
