$active-color: #cfdfff;

.org_menu {
  background-color: #fff;
  height: 100%;
  font-size: 16px;
  color: #000;
  padding-top: 40px;
  overflow: auto;
}
.item {
  height: 36px;
  padding: 7px 20px;
  color: #000;
  // color: #666;
}
.active {
  background-color: $active-color;
}
.name {
  cursor: pointer;
  max-width: 62%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // @include line-clamp(1);
  &:hover {
    // font-size: 18px;
    font-weight: bold;
  }
}
.icon_btn {
  > span {
    margin-left: 1px !important;
  }
}
