.item {
  box-shadow: 0px 0 5px 0 rgb(0 0 0 / 13%);
  width: 100%;
  .title {
    flex: 0 0 84px;
  }
}
.role_tag {
  padding: 2px 8px;
  border-radius: 3px;
  border: 1px solid #D6AF6F;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #D79A36;
  margin: 5px;
}
