.qrcode {
  // margin: 0 20px 0 33px;
  // width: 50px;
  // height: 50px;
  // cursor: pointer;
  // border: 5px solid #fff;
}
.ewm_modal {
  :global {
    .ant-modal-body {
      padding-top: 0;
    }
    .ant-tabs-nav {
      &::before {
        display: none;
      }
    }
    .ant-tabs-tab {
      font-size: 14px;
      padding: 10px 15px;
    }
    .ant-tabs-nav-wrap {
      padding-left: 106px;
    }
    .ant-tabs-nav-list {
      .ant-tabs-tab {
        margin-right: 106px;
      }
    }
  }
  // 机构列表
  .org_list {
    width: 350px;
    max-height: 76px;
    overflow: auto;
    margin: 10px auto 0;
    @include flex();
    flex-wrap: wrap;
    .org_btn{
      margin: 0 5px 10px;
      border-radius: 2px;
      font-size: 14px;
      height: 32px;
      border: none;
      position: relative;
      display: block;
      &.active {
        color: #218CE9;
        &::before {
          content: '';
          position: absolute;
          left: 50%;
          margin-left: -15px;
          width: 30px;
          height: 2px;
          background: #218CE9;
          bottom: 0;
        }
      }
    }
  }
  // 医生详情
  .doctor {
    width: 540px;
    margin: 0px auto 0px;
    padding: 25px;
    text-align: left;
    background: #F5F5F5;
    border-radius: 5px;
    .info {
      margin: 0 auto 25px;
      font-size: 15px;
      color: #2C2F32;
      padding-bottom: 25px;
      border-bottom: 1px solid #EFEFEF;
      @include flex(space-between, flex-start);
    }
    .wxinfo {
      font-size: 15px;
      color: #2C2F32;
      @include flex(center, flex-start);
      .avatar {
        margin-right: 20px;
      }
    }
    .name {
      font-size: 18px;
    }
    .avatar {
      background: #FFFFFF;
      width: 80px;
      height: 80px;
      border-radius: 10px;
    }
    .show_id {
      width: 185px;
      height: 28px;
      line-height: 28px;
      background: #E8F1FA;
      border-radius: 2px;
      text-align: center;
      font-weight: 500;
      color: #218CE9;
      padding: 5px;
      display: flex;
      align-items: center;
      margin-top: 3px;
    }
  }
  .ewm {
    text-align: center;
    width: 160px;
    margin: 0 auto;
    p {
      margin-top: 15px;
      color: #999999;
      padding-bottom: 10px;
      margin-bottom: 0;
      font-size: 14px;
    }
  }
  .service {
    width: 330px;
    height: 258px;
    margin: 10px auto 15px;
    img {
      width: 100%;
    }
  }
  .wxewm {
    @include flex(center, center);
    .wxewm_left {
      width: 83px;
      height: 83px;
      img {
        width: 100%;
      }
    }
    .wxewm_right {
      font-size: 15px;
      color: #181818;
      text-align: left;
      margin-left: 10px;
    }
  }
  .download {
    margin: 20px auto 0;
    display: block;
    color: #007ADA;
    background-color: #fff;
    border: 1px solid #007ADA;
    border-radius: 2px;
    width: 130px;
    height: 42px;
    font-size: 18px;
  }
  .hidden_a {
    width: 0px;
    height: 0px;
    position: absolute;
    overflow: hidden;
  }
}

