.item {
  // height: 80px;
  // line-height: 35px;
  // width: 180px;
  // // margin: 0 10px;
  // @include flex-lay(row, nowrap, flex-start, flex-start);
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  padding: 16px 0;
  width: 95px;
  // height: 72px;
  overflow: hidden;
  &.active {
    background-color: #d7d7d7;
  }
}
.avatar {
  align-self: center;
  @include size(40px);
  border-radius: 20px;
  margin-left: 5px;
}
.info {
  margin-left: 5px;
  overflow: hidden;
  padding: 5px 0;
}
.name,
.last_msg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.last_msg {
  font-size: 12px;
}
.team{
  text-align: center;
  height: 100%;
  .avatars{
    background-color: #fff;
    display: inline-block;
    width: 66px;
    img {
      @include size(25px);
      margin: 4px;
      vertical-align: middle;
    }
  }
  .names{
    margin-top: 10px;
    line-height: 14px;
  }
  .name {
    flex: 0 0 50%;
    width: 74px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.85);
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    display: inline-block;
  }
}
