.batch-upload-staff {
  .ant-upload.ant-upload-drag .ant-upload-drag-icon {
    margin-bottom: 0;
  }
  .ant-upload.ant-upload-drag {
    height: auto;
  }
  .ant-upload.ant-upload-drag .ant-upload {
    padding: 10px;
  }
}
