.previous_history {
  .add_btn {
    width: 78px;
    height: 32px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #D3E8FB;
    font-size: 14px;
    color: #218CE9;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    margin-right: 24px;
  }
  .tit {
    font-size: 14px;
    font-weight: bold;
  }
  .item {
    border-bottom: 1px dashed #D1D1D1;
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  :global {
    .modify_wrap___3NriT {
      margin-left: 20px
    }
  }
}

