@mixin flex-lay($direction: row, $wrap: nowrap, $main: space-between, $cross: center) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $main;
  align-items: $cross;
}

@mixin flex($main: space-between, $cross: center) {
  display: flex;
  justify-content: $main;
  align-items: $cross;
}
@mixin size($width: 0px, $height: $width) {
  width: $width;
  height: $height;
}

@mixin lh($height: 34px, $lineHeight: $height) {
  height: $height;
  line-height: $lineHeight;
}

@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

  *zoom: 1;
}

@mixin line-clamp($lines-to-show) {
  display: block; // Fallback for non-webkit browsers
  display: -webkit-box;
  //height: ($font-size * $line-height * $lines-to-show); // Fallback for non-webkit browsers
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}

@mixin card-shadow {
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
}

@mixin upload__btn($width, $height) {
  width: $width;
  height: $height;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  :global {
    .anticon-plus {
      font-size: 30px;
      color: #4f96f3;
    }
    .ant-upload {
      width: $width;
      height: $height;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@mixin rich-text($content, $width: 35px) {
  position: relative;
  &:hover {
    &::before {
      content: $content;
      position: absolute;
      z-index: 1;
      width: $width;
      top: -15px;
      left: -10px;
      font-weight: bold;
    }
  }
}
