//-- Font Settings
// $font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-family: 'MicrosoftYaHei', '微软雅黑', 'Microsoft YaHei', Arial, sans-serif;

$blue: #0d6efd;
$theme-color: #007ada;
$title-color: #09205d;
//font
$import-text-color: #000;
$main-text-color: #333;
$help-text-color: #999;

//color
$disabled-text-color: #ccc;
$link-text-color: #3c868d;
$border-color: #d8d8d8;
$tag-bg-color: #ebebeb;

//info
$normal-info: #148de9;
$success-info: #24b436;
$warning-info: #fd6803;
$error-info: #b91908;

$modify-color: #108ee9;
$modify-color2: #fd9209;
$modify-color3: #fd9291;
$user-heighte: #333232;
// 用户资料弹窗
$user-height: 540px;

%radio-circle {
  width: 49%;
  border: 1px solid #d9d9d9;
  margin-right: 2%;
  position: relative;
  &:last-child {
    margin: 0;
  }
  .ant-radio {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
  }
}

%full-modal {
  @include flex-lay(column, nowrap, flex-start, flex-start);
  width: 85% !important;
  height: 85vh;
  margin: 7.5vh auto 0 auto;
}

%main-head {
  color: $main-text-color;
  font-size: 16px;
  font-weight: bold;
}

%box-shadow {
  box-shadow: 1px 1px 5px 2px #eaeaea;
}

%border-btn {
  border: 1px solid $theme-color;
  color: $theme-color;
  text-align: center;
  border-radius: 2px;
}

%fill-btn {
  background-color: $theme-color;
  color: #fff;
  // padding: 10px;
  border-radius: 2px;
}

%hide-text {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%common_header {
  background-color: #fff;
  padding: 15px 0;
  .header {
    @include flex();
  }
}
%common_height {
  line-height: 42px;
  height: 42px;
  font-size: 14px;
}

%common__btn {
  text-align: center;

  button {
    margin-right: 40px;
    min-width: 130px;
    height: 42px;
    font-size: 16px;
    @extend %border-btn;
    border-radius: 2px;

    &.finish {
      margin-right: 0;
      @extend %fill-btn;
    }
  }

  .ant-btn-primary {
    color: #fff;
  }
}

%file__name {
  display: inline-block!important;
  width: 86px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  margin: 12px auto 0;
  text-align: center;
}
