.modify_wrap {
  position: relative;
  font-size: 14px;
  width: 450px;
  margin: 0 auto;
  :global {
    .ant-form {
      .ant-select-selector {
        height: 42px;
        .ant-select-selection-search-input {
          line-height: 42px;
          height: 42px;
        }
      }
      .ant-select-selection-item {
        line-height: 42px;
      }
      .ant-select-selection-placeholder {
        font-size: 14px;
        color: #999999;
        line-height: 42px;
      }
      label {
        height: 42px;
      }
      .ant-form-item-required {
        &::before {
          content: ''!important;
        }
      }
      .common__btn {
        width: 350px;
        margin-left: 65px;
        margin-top: 30px;
      }
    }
  }
}
// 针对处理的ui
.treatment,
.diagnose {
  font-size: 20px;
  :global {
    .form_item {
      position: relative;
        .ant-select {
          position: absolute;
          top: 0;
          left: 75px;
        }
      .calendar {
        width: 376px;
        position: absolute;
        left: 75px;
        top: 0;
        .ant-select {
          position: relative;
          top: 0;
          left: 0px;
        }
      }
    }
    .ant-form-item-has-error {
      .ant-form-item-control-input {
        height: 42px;
      }
    }
    .ant-row {
      margin-bottom: 10px;
    }
  }
}
