.follow-table-create {
  @include flex(flex-start, flex-start);
  padding-top: 30px;
  .right {
    flex: 0 0 247px;
    text-align: left;
    padding-left: 33px;
    border-left: 1px solid #EFEFEF;
    height: calc(100vh - 157px);

    .title {
      font-size: 16px;
      color: #181818;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .add-list {
      margin-top: 20px;
    }

    .add-topic-item {
      border: 1px dashed #CFCFCF;
      border-radius: 2px;
      width: 180px;
      height: 75px;
      padding: 10px 10px 10px 20px;
      margin-bottom: 15px;
      cursor: pointer;

      .tit {
        @include flex(flex-start);
        font-size: 16px;

        img {
          margin-right: 9px;
        }
      }

      .plus {
        color: #8F8F8F;
        margin-top: 12px;
        text-align: right;
      }
    }

    .send-plan {
      width: 179px;
      height: 95px;
      background: #F7F7F7;
      border-radius: 4px;
      font-size: 14px;
      padding: 13px;

      p {
        color:
          #B9B9B9;
        margin-bottom: 8px;
      }

      span {
        color: #3296FA;
        cursor: pointer;
      }
    }
  }
  .left {
    flex: 1;
    height: calc(100vh - 157px);
    overflow-y: auto;
    .title {
      @include flex(flex-start);
      // padding-left: 156px;
      width: 890px;
      margin: 0 auto;
    }
    .text-box {
      text-align: center;
      flex: 1;
    }

    .edit-input {
      border: none;
      border-radius: 3px;
      font-size: 14px;
      color: #666;
      width: 200px;
      height: 26px;
      font-size: 20px;
      color: #181818;
      text-align: center;
      &::-webkit-input-placeholder {
        color: #181818;
      }
    }
    .info {
      font-size: 14px;
      color: #8F8F8F;
      width: 890px;
      text-align: center;
      margin: 6px auto 45px;
      .ant-input {
        border: none;
        font-size: 14px;
        color: #8F8F8F;
        text-align: center;

        &::placeholder {
          font-size: 14px;
          color: #8F8F8F;
        }
      }
    }
    .cont {
      .guide {
        position: relative;
        img {
          position: absolute;
          top: 50px;
          right: 20px;
        }
      }

    }
  }
  .topic-list {
    // padding-left: 182px;
    font-size: 14px;

    .topic-item {
      width: 880px;
      margin: 0 auto 30px;
      padding: 20px 25px;
      .del-icon,
      .anticon-close {
        display: none;
      }
      &.edit {
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.10);
        border-radius: 3px;
        .del-icon,
        .anticon-close {
          display: inline-block;
        }
        .choice-tx {
          display: flex;
        }
        .issue__delete {
          display: inline-block;
        }
      }
    }
    .issue {
      color: #181818;
      position: relative;
      padding-left: 18px;
      .ant-input {
        border: none;
        font-size: 16px;
        width: 97%;
        margin-right: 5px;
        color: #181818;
      }
      &.input-empty {
        padding-left: 0;
        .ant-input {
          border-bottom: 1px solid #3296FA;
        }
      }
      &__index {
        position: absolute;
        left: 0px;
        font-size: 16px;
        top: 3px;
      }
      &__delete {
        display: none;
      }
      .issue__end {
        display: none;
      }
      &.end {
        padding-left: 72px;
        // 内容为空时，距离左侧要少一些（少掉序号的宽度）
        &.input-empty {
          padding-left: 55px;
        }
        .issue__index {
          left: 56px;
        }
        .issue__end {
          position: absolute;
          left: 0;
          top: 10px;
          background: #F5A623;
          border-radius: 7.5px;
          width: 55px;
          height: 18px;
          color: #fff;
          font-size: 10px;
          text-align: center;
          line-height: 18px;
          transform: scale(0.85);
          display: block;
        }

      }
    }

    .add-options {
      color: #3296FA;
      cursor: pointer;
      // display: none;
    }
    .choice-tx {
      @include flex();
      margin-top: 10px;
      display: none;
      .ant-radio-wrapper {
        font-size: 14px;
      }
    }
    .options-list {
      .item {
        margin-top: 24px;
        position: relative;

        .anticon-border {
          color: #C1C1C1;
          margin-right: 10px;
          position: absolute;
          left: 0;
          top: 7px;
          z-index: 2;
        }

        .ant-input {
          border: none;
          font-size: 14px;
          width: 805px;
          margin-right: 5px;
          padding-left: 26px;
        }
        .ant-checkbox-wrapper {
          width: 810px;
          font-size: 14px;
        }
        &.input-empty {
          .ant-input {
            border-bottom: 1px solid #3296FA;
          }
        }

        .anticon-close {
          color: #C1C1C1;
        }
      }
    }
    .answer-wrap {
      margin-top: 10px;
      width: 810px;
      textarea.ant-input {
        resize: none;
        height: 99px;
      }
    }
  }
  .save-btn {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
    button {
      border-radius: 3px;
      width: 180px;
      height: 40px;
      font-size: 14px;
    }
  }
  .manage {
    font-size: 14px;
    color: #606060;
    border: 1px dashed #CFCFCF;
    border-radius: 2px;
    padding: 10px;
    width: 180px;
    ul {
      max-height: 307px;
      overflow: auto;
    }
    p{
      color: #3296FA;
      text-align: right;
      cursor: pointer;
    }
    li {
      margin-bottom: 20px;
      cursor: pointer;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    }
  }
}
