.topic-list {
  .options-list {
    .item {
      display: flex;
      align-items: center;
      .ant-input {
        background-color: inherit;
      }
    }
  }
  .topic-item {
    margin: 0 auto;
    padding: 0;
  }
  .required_wrap {
    .ant-checkbox-inner {
      width: 20px;
      height: 20px;
    }
  }
}
