.left_top {
	padding: 30px 20px 15px;
	background: #fff;
	.head {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 3px;
		word-break: break-all;
	}
	img {
		width: 70px;
    height: 70px;
    object-fit: cover;
	}
	.info {
		display: flex;
	}
	.info_right {
		@include flex-lay(column, nowrap, center, flex-start);
		margin-left: 8px;
	}
	.date {
		display: flex;
		color: #999;
	}
	.status {
		// background: #eef9f2;
		border-radius: 10px;
		padding: 0 4px;
		margin-right: 4px;
		max-height: 26px;
		// color: #39C680;
		.point {
			display: inline-block;
			width: 6px;
			height: 6px;
			border-radius: 3px;
			// background: #39C680;
			position: relative;
			top: -2px;
		}
		:global {
			.ant-select-selector {
				height: 26px;
				border-radius: 3px;
				.ant-select-selection-item,.ant-select-selection-placeholder {
					line-height: 26px;
					font-size: 14px;
				}
			}
			.ant-select-selection-search-input {
				height: 26px;
			}
			.ant-input-number-input {
				height: 26px;
			}
		}
	}
	.RUN {
		background: #eef9f2;
		color: #39C680;
		.point {
			background: #39C680;
		}
	}
	.STOP {
		background: #feefef;
		color: #EC7172;
		.point {
			background: #EC7172;;
		}
	}
	.introduce {
		font-size: 16px;
		margin-top: 30px;
    .left,.right {
      flex: 0 0 50%;
      .border_none {
        border: none;
      }
      :global {
        .ant-input-number-input, .ant-input-number {
          display: inline-block;
          max-width: 50px;
          // border: none;
          width: auto;
          font-size: 14px;
        }
      }
    }
    .title {
      span {
        color: #3296FA;
        font-weight: 800;
      }
    }
		.content {
			color: #666;
			font-size: 14px;
      span {
        margin-right: 40px;
      }
		}
		.title {
			font-weight: 600;
			margin-bottom: 12px;
		}
		:global {
			textarea.ant-input {
				border: none;
				resize:none;
				border-radius: 3px;
				font-size: 14px;
				color: #666;
				min-height: 210px;
				&:hover {
					background: #F9F9F9;
				}
			}
		}
	}
}
.left_bottom {
	border-top: 10px solid #f6f6f6;
	padding: 30px 20px 15px;
	background: #fff;
	@include flex-lay(row, nowrap, space-around, center);
	img {
		width: 36px;
		height: 36px;
		margin-right: 18px;
	}
	.box {
		@include flex-lay(row, nowrap, space-around, center);
	}
	.num {
		font-size: 22px;
		font-weight: 600;
	}
	.text {
		color: #666;
	}
}
