.history_plan {
  font-size: 14px;
  color: #181818;
  border-bottom: 1px solid #efefef;
  h2 {
    font-size: 16px;
    margin-bottom: 0;
    @include flex-lay(row, nowrap, space-between, flex-start);
    img {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
    .split {
      display: none;
      width: 1px;
      height: 14px;
      background: #e0e0e0;
      margin-left: 8px;
      position: relative;
      top: 3px;
    }
    .operate {
      @include flex-lay(row, wrap, center, center);
      flex-shrink: 0;
      img {
        display: none;
        margin-left: 8px;
      }
      .detail {
        color: #3296fa;
        font-size: 15px;
        cursor: pointer;
        @include flex();
        font-weight: 400;
      }
      .line {
        width: 1px;
        height: 14px;
        background: #e0e0e0;
        margin: 0 0 0 10px;
      }
      .icon_reply {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 0 5px 0 0;
      }
    }
    .remind {
      border: 1px solid #dfdfdf;
      margin-bottom: 20px;
      width: 90%;
      margin-right: 40px;
    }
    pre {
      display: inline;
    }
  }
  .plan__cont {
    @include flex-lay(row, wrap, flex-start, flex-start);
    .space {
      flex: 100%;
      height: 25px;
    }
    .item {
      flex: 50%;
      .tit {
        font-size: 15px;
        @include flex(flex-start);
        img {
          margin-right: 5px;
        }
      }
      .text {
        font-size: 14px;
        color: #666666;
      }
    }
  }
  .plan_item {
    padding: 20px 25px;
    margin-bottom: 15px;
    &:hover {
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      .operate {
        img,
        .split {
          display: block;
        }
      }
    }
    pre {
      position: relative;
      white-space: break-spaces;
      span {
        position: absolute;
        left: 0;
      }
    }
  }
}
