.avatar_wrap {
  width: 80px;
  margin-right: 10px;
}
.avatar {
  width: 80px;
  // height: 80px;
  max-height: 150px;
}

.certification {
  color: #4caf50;
  text-align: center;
  line-height: 32px;
  font-weight: bold;

  span {
    margin-right: 3px;
  }
}
