.shared-check-img-structured {
  .structure_detail_item {
    .ant-tabs-nav {
      width: calc(100% - 120px);
      .ant-tabs-nav-add {
        border: none;
        background-color: #fff;
        color: #999999;
        height: 30px;
        padding-top: 6px;
        .anticon-plus {
          font-size: 18px;
        }
      }
    }
    .ant-tabs-card {
      &.ant-tabs-editable-card {
        .ant-tabs-content-holder {
          border: none;
          padding: 0px;
          padding-top: 20px;
        }
        .ant-tabs-nav {
          border-bottom: 1px solid #d8d8d8;
        }
        .ant-tabs-content-holder {
          height: auto;
        }
        .anticon-close {
          font-size: 12px;
        }
        .ant-tabs-tab {
          flex: 0 0 auto;
          margin: 0;
          padding: 5px 10px;
          font-size: 14px;
          background-color: #fff;
          border: none;
          &.ant-tabs-tab-active {
            border: none!important;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 25%;
              width: 50%;
              height: 3px;
              background-color: #007ADA;
              bottom: 0px;
            }
          }
          .ant-tabs-tab-btn {
            margin: 0 auto;
          }
        }
      }
    }
    .empty_wrap {
      border-top: 1px solid #EFEFEF;position: absolute;
      top: 42px;
      width: 100%;
      text-align: center;
      padding-top: 20%;
      font-size: 14px;
      color: #999999;
    }
  }

  .hyd_tab_wrap {
    position: relative;
    min-height: 200px;
    .anticon-sync {
      font-size: 12px;
      margin-right: 3px;
    }
    .ant-tabs-tab {
      color: #999999;
      flex: 0 0 auto;
      margin: 0;
      padding: 5px 10px;
      font-size: 14px;
      background-color: #fff;
      border: none;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        background-color: #EFEFEF;
        height: 14px;
        top: 10px;
        right: 0;
      }
      &.ant-tabs-tab-active {
        border: none!important;
        position: relative;
        color: #181818;
        .ant-tabs-tab-btn {
          color: #181818;
        }
        &:before{
          display: none;
        }
      }
    }
  }

}
