.detail {
  .first_title {
    font-size: 20px;
    color: #181818;
    text-align: center;
  }
  .second_title {
    font-size: 14px;
    color: #8F8F8F;
    text-align: center;
  }
  .item {
    margin-bottom: 70px;
    &__issue {
      font-size: 16px;
      color: #181818;
      margin-bottom: 16px;
    }
    .end {
      background: #F5A623;
      border-radius: 7.5px;
      width: 55px;
      height: 18px;
      color: #fff;
      font-size: 10px;
      text-align: center;
      line-height: 18px;
      transform: scale(0.85);
      display: inline-block;
    }
    :global {
      .ant-checkbox-wrapper {
        display: block;
        margin-left: 0;
        margin-bottom: 12px;
        span {
          font-size: 14px;
        }
      }
      textarea.ant-input {
        width: 810px;
        height: 99px;
        resize: none;
        border: 1px solid #DFDFDF;
        border-radius: 4px;
        font-size: 14px;
      }
    }
  }
  :global {
    .ant-modal-header {
      border-bottom: 0;
    }
  }
}
