.count {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  padding: 30px;
  .top {
    @include flex-lay(row, nowrap, space-between, center)
  }
  .selects {
    @include flex-lay(row, nowrap, flex-start, center)
  }
  .legend {
    flex: 0 1 460px;
    .item {
      margin: 0 24px 10px 0;
      display: inline-block;
    }
  }
  .label {
    display: inline-block;
    width: 70px;
    height: 23px;
    vertical-align: middle;
  }
  .MAIN {
    background: #FF8491
  }
  .SICK {
    background: #5D9EFA
  }
  .MINOR {
    background: #F9E681
  }
  .BAD {
    background: #C07BFF
  }
}
