.tumour {
  margin-bottom: 10px;
  .head {
    >span {
      color: #777;
      font-size: 14px;
    }
    .trea_type {
      font-size: 14px;
      color: #000;
    }



    .edit_btn {
      font-size: 14px;
      padding-left: 10px;
      color: #007ada;
      cursor: pointer;
    }
  }
  .trea_name {
    font-size: 14px;
    color: #000;
    padding-left: 12px;
  }
  .empty {
    padding-left: 12px;
  }
  .info {
    font-size: 12px;
    color: #666;
    line-height: 20px;
    padding-left: 12px;
  }

}
.tumour_edit {
  width: 456px;
  margin: 0 auto;
  .trea_wrap {
    @include flex();
    :global {
      .anticon {
        margin-left: 3px;
        color:#108ee9 !important;
      }
    }
  }
  .trea_input {
    flex: 1;
    height: 42px;
    margin-left: 6px;
  }
  :global {
    .common__btn {
      margin-top: 30px;
    }
    .form_item {
      position: relative;
      margin-bottom: 10px;
      height: 42px;
      .ant-input,
      .ant-select-selection-placeholder,
      .ant-select-selector,
      .ant-select-selection-item {
        height: 42px;
        line-height: 42px;
      }
      .ant-select {
        position: absolute;
        top: 0;
        left: 75px;
      }
      .calendar {
        width: 376px;
        position: absolute;
        left: 75px;
        top: 0;

        .ant-select {
          position: relative;
          top: 0;
          left: 0px;
        }
      }
    }
  }
}
