.box {
	width: 140px;
	height: 126px;
	text-align: center;
	background: #FFFFFF;
	border-radius: 8px;
	@include flex-lay(column, nowrap, center, center);
	margin-top: 26px;
	cursor: pointer;
	position: relative;
	&:hover {
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
		.upload {
			display: block;
		}
	}
}
.upload {
	img {
		width: 16px;
		height: 16px;
		vertical-align: top;
	}
	font-size: 12px;
	// color: #C5C5C5;
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	// &:hover {
	// 	color: #4FA5FA;
	// }
	:global {
		.ant-upload {
			color: #C5C5C5;
			&:hover {
				color: #4FA5FA;
			}
		}
	}
}
.file {
	margin-top: 15px;
}
.file_modal {
	li {
		@include flex-lay(row, nowrap, space-between, center);
		line-height: 25px;
		border-bottom: 1px solid #EFEFEF;
		padding: 10px 44px;
		font-size: 14px;
		cursor: pointer;
    p {
      max-width: 500px;
    }
		&:hover {
			background: #F6FAFE;
			// border: 1px solid #EAF4FF;
		}
		.operate {
			color: #4DA4FA;
		}
		.download {
			margin-right: 30px;
		}
	}
	:global {
		.ant-modal-body {
			padding: 0;
		}
		.ant-btn {
			margin: 30px 0 30px 41px;
			width: 86px;
			height: 40px;
			font-size: 14px;
		}
	}
}
.no_file {
  font-size: 14px;
  margin-left: 41px;
  padding: 15px 0;
  display: block;
}
