.ui-index-library {
  &__main {
    display: flex;
    height: calc(100vh - 58px);
  }
  &__header {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: #181818;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
    &__left {
      display: flex;
      align-items: center;
      span {
        font-size: 20px;
        font-weight: 600;
      }
      img {
        width:  24px;
        height: 24px;
      }
    }
    &__right {
      img {
        width:  28px;
        height: 28px;
        border-radius: 50%;
      }
    }

  }

  &__index-list {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    .ant-table {
      font-size: 14px;
    }
    .operation-btn {
      color: #3296FA;
      line-height: 14px;
      display:flex;
      justify-content: center;
      span {
        cursor: pointer;
        margin-right: 8px;
      }
    }
    .unit {
      width: 60px;
      height: 24px;
      background: #E9FDFF;
      border-radius: 5px;
      color: #0F6999;
      display: inline-block;
      margin-left: 5px;
      font-size: 14px;
      &.default {
        color: #E5A500;
        background: #FFFAE9;
      }
      &.no-units {
        background: #EDEDED;
        color: #999999;
      }
    }

    .search-start {
      @include flex();
      font-size: 14px;
      padding: 12px 30px;
      border-bottom: 1px solid  #F1F2F4;
      .keyword {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        span {
          margin: 0 11px;
          font-size: 16px;
          cursor: pointer;
          &.active {
            color: #3296FA;
            border-bottom: 2px solid #3296FA;
          }
        }
      }
    }
    .operation-warp {
      @include flex();
      font-size: 14px;
      padding: 20px 30px;
      .num {
        font-size: 16px;
      }
      .create-btn {
        width: 106px;
        height: 34px;
        margin-left: 10px;
        font-size: 14px;
        border-radius: 3px;
      }
    }
  }
}
