// antd
body {
  font-size: 14px;

  .ant-input {
    &input {
      height: 32px;
      line-height: 32px;
    }
  }

  .anticon {
    font-size: 16px;
    cursor: pointer;
  }

  .ant-tabs-tabpane-inactive {
    overflow: hidden;
  }

  .ant-tabs-ink-bar {
    height: 3px;
  }

  .ant-modal {
    padding-bottom: 0;
  }
  .ant-modal-content {
    border-radius: 5px;
  }
  .ant-modal-header {
    padding: 0;
    height: 50px;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 5px 5px 0 0;
  }

  .ant-modal-body {
    padding: 30px;
    max-height: 570px;
    overflow-y: auto;
    color: #000;
  }

  .ant-modal-title,
  .ant-modal-close-x {
    line-height: 50px;
    text-align: center;
    color: #333;
    font-size: 20px;
  }

  .ant-modal-close-x {
    color: #979797;
    font-size: 24px;
  }

  .ant-tabs-bar {
    margin-bottom: 20px;
  }

  // 表格样式
  .ant-table-tbody>tr,
  .ant-table-tbody>tr>td,
  .ant-table-thead>tr {
    transition: all 0s;
    text-align: center;
  }

  .ant-table {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    .anticon-frown-o:before {
      content: "\E62D";
    }
  }

  .anticon-search:before {
    color: $theme-color;
  }

  .ant-table-placeholder {
    // @include flex-lay(row, nowrap, center, center);
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
  }

  .ant-table-tbody>tr.ant-table-row-hover>td,
  .ant-table-tbody>tr:hover>td,
  .ant-table-thead>tr.ant-table-row-hover>td,
  .ant-table-thead>tr:hover>td {
    background: #fff;
    // border-width: 1px 0;
    // border-style: solid;
    // border-color: $theme-color;
    // padding: 15px 8px 16px;
    transition: all 0s;
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 16px 8px;
  }

  .ant-table-thead>tr>th {
    background-color: #f8fafa;
    font-size: 14px;
    text-align: center;
  }

  .ant-badge,
  .ant-calendar,
  .ant-select,
  .ant-select-dropdown-menu-item {
    font-size: 14px;
  }

  .ant-select-dropdown-menu-item {
    padding: 5px 6px;
  }

  .anticon-down {
    font-size: 12px;
  }

  .ant-badge-dot {
    width: 8px;
    height: 8px;
    background: #f04134;
  }

  .ant-calendar-today .ant-calendar-date {
    font-weight: 400;
  }

  .ant-badge-count {
    background: #f04134;
    box-shadow: none;
  }

  .ant-select-selection__clear {
    top: 45%;
    right: 18px;
  }

  .ant-select-selection__rendered {
    margin-left: 0;
    padding-left: 5px;
  }
  .ant-select-item-option-content {
    font-size: 14px; // select下拉框样式
  }
  .ant-modal-wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.no_padding{
  .ant-modal-body {
    padding: 0;
  }
}
.ant-modal-footer {
  text-align: center;
  .ant-btn {
    font-size: 16px;
    line-height: 14px;
    border-radius: 5px;
  }

}
.cancel_text_blue {
  .ant-btn {
    border: 1px solid #007ADA;
    color: #007ADA;
    padding: 3px 18px;
    box-sizing: content-box;

  }
  .ant-btn-primary {
    background-color: #007ADA;
    color: #fff;
  }
}
.ant-form {
  label {
    font-size: 14px;
  }
}
.ant-badge-not-a-wrapper:not(.ant-badge-status) {
  vertical-align: inherit;
  margin-left: 2px;
}
.confirm__notification {
  border-top: 5px solid #26C670;
}
.ant-notification-notice-message {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 8px;
}
.ant-notification-notice-description {
  font-size: 14px;
  color: #000;
}
// modal弹框在ie居中问题，由于使用align-items:center，在ie上不生效。这里使用媒体查询方法实现针对ie的处理。
// 它就是-ms-high-contrast，只有IE10/11实现了这个属性，它可以有两个值active或none
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .ant-modal-wrap-center {
    left: 50%;
    transform: translateX(-50%);
  }
}

.ant-input-number {
  font-size: 14px;
}

.ant-table-pagination.ant-pagination {
  justify-content: center;
}

// 气泡确认框，确认按钮字体放大12->14
.ant-popover-buttons {
  .ant-btn-sm {
    height: 26px;
    font-size: 15px;
    padding: 0 20px;
  }
}
