.infos {
  flex: 1;
  span {
    font-size: 14px;
  }
  &__base {
    font-size: 14px;
    color: #181818;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding:10px 20px 0;
    >div {
      margin-bottom: 10px;
    }
    &__tags {
      border-radius: 3px;
      border: 1px solid #D6AF6F;
      color: #D6AF6F;
      padding: 6px 8px;
      display: inline-block;
      margin-right: 10px;
    }
  }

  &__introduction {
    margin-bottom: 15px;
    font-size: 14px;
    width: 900px;
    ul {
      margin: 0;
      height: 32px;
      @include flex-lay(row, nowrap, flex-start, center);
      color: rgba(44, 45, 46, .5);
      border-bottom: 1px solid $border-color;

      >li {
        padding: 0 15px;
        cursor: pointer;
        line-height: 32px;

        &.active {
          padding: 0 14px;
          color: $import-text-color;
          line-height: 30px;
          border: 1px solid $border-color;
          border-bottom: 2px solid #fff;
          position: relative;
          bottom: 0px;
        }
      }
    }

    >div {
      height: 108px;
      // overflow-y: auto;
      border: solid $border-color;
      border-width: 0 1px 1px 1px;
      padding: 15px;
      color: $import-text-color;
    }

    .ant-input-disabled {
      background-color: #fff;
      color: #333;
      cursor: text;
    }
  }
}

.doctor-status {
  &__base {
    @include flex-lay(row, wrap, space-between, center);
    .user__item {
      @include flex-lay(row, nowrap, flex-start, center);
      flex-grow: 1;

      &.vertical {
        flex-direction: column;
        align-items: flex-start;

        h3 {
          text-align: left;
          margin-bottom: 20px;
        }
      }

      margin-bottom: 20px;

      h3 {
        //min-width: 144px;
        // max-width: 83px;
        max-width: 84px;
        font-size: 18px;
        color: #333333;
        margin-right: 20px;
        font-weight: normal;
        text-align: right;
      }

      span {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 3px;
      }

      span.icon {
        color: #FE6702;
      }

      &-content {

        .item,
        .item .ant-input,
        .item .ant-select-selection--single,
        .item .ant-select-selection__rendered {
          border-radius: 1px;
          height: 58px;
          line-height: 58px;
          font-size: 18px;
          color: #333333;
        }

        .ant-radio-group {
          width: 100%;
          display: flex;
        }

        .ant-radio-wrapper {
          @extend %radio-circle;
          width: 70px;
          height: 58px;
          line-height: 58px;
          flex-grow: 1;
          color: #000;
        }

        flex-grow: 1;
      }
    }
  }

  &__introduction {
    @include flex-lay(row, wrap, space-between, center);

    .user__item {
      //flex-grow: 1;
      width: 50%;

      h3 {
        width: 83px;
      }

      &-content {
        flex-grow: 1;
      }
    }

  }
}
