.visit {
  max-height: 750px;
  width: 1067px;
  margin: 0 auto;
  :global {
    .ant-table-cell {
      padding: 16px 0;
      cursor: pointer;
    }
  }
  .tab {
    @include flex-lay(row, nowrap, center, center);
    width: 300px;
    margin: 10px auto 20px;
    border: 1px solid $theme-color;
    border-radius: 4px;
    overflow: hidden;
    div {
      width: 50%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: $theme-color;
      cursor: pointer;
      margin-bottom: 0;
      font-size: 16px;

      &.active {
        background-color: $theme-color;
        color: #fff;
      }
    }
  }
  .item {
    padding: 20px;
    font-size: 18px;
    h4 {
      line-height: 14px;
      margin-bottom: 15px;
      border-left: 2px solid #007ADA;
      padding-left: 5px;
    }
  }
}

.work_time {
  >span {
    line-height: 38px;
    color: #000;
    font-size: 14px;
  }
  >img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  
}
.edit_time {
  width: 400px;
  margin: 0 auto;
  .input_wrap {
     margin: 50px 0 30px;
     @include flex-lay(row, nowrap, space-between, center);
     font-size: 16px;
     color: $main-text-color;
     .line {
       color: $border-color;
     }

     .ant-input-number {
       width: 88px;
       height: 42px;
       margin: 0 5px;
     }

     .ant-input-number-input {
       height: 40px;
       font-size: 16px;
     }

     .ant-input-number-handler-wrap {
       width: 30px;
     }

     .ant-input-number-handler-wrap:hover .ant-input-number-handler {
       height: 50%;
     }

     .ant-input-number-handler-up-inner,
     .ant-input-number-handler-down-inner {
       right: 7px;
       width: 16px;
       height: 16px;
       font-size: 16px;
     }
  }
}