.nav_bar {
  position: relative;
  width: 100%;
  height: 58px;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  font-size: 14px;
  color: #181818;
  padding-left:20px;
  @include flex(flex-start, center);
  // border-bottom: 1px solid #f5f5f5;
  img {
    @include size(32px);
  }
  .right {
    position: absolute;
    right: 20px;
  }
  .left{
    @include flex;
  }
}
