.project {
  background: #FEFFFE;
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  width: 80%;
  display: inline-block;
  &_status {
    font-size: 16px;
    color: #181818;
    white-space: pre-wrap;
    word-break: break-all;
    img {
      // @include size(18px);
      margin-right: 5px;
      position: relative;
      top: 3px;
    }
  }
  &_content {
    font-size: 13px;
    color: #424244;
    margin-top: 16px;
    .label {
      color: #9B9B9B;
      margin-right: 20px;
    }
  }
  &_footer {
    color: #9B9B9B;
    border-top: 1px solid #E0E0E0;
    margin-top: 16px;
    padding-top: 15px;
  }
}
