.content_diff {
  .old_wrap, .new_wrap, .old_wrap_full {
    flex: 0 0 49%;
    border: 1px dashed #DFDFDF;
    box-sizing: border-box;
    min-height: 100px;
    padding: 5px 10px;
  }
  .old_wrap_full {
    flex: 1;
  }
  .diff_title {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
}
.objective_diff {
  font-size: 14px;
  color: #181818;
  .border {
    border: 1px solid #DFDFDF;
    margin-bottom: 10px;
  }
  .plan__cont {
    @include flex-lay(row, wrap, flex-start, flex-start);
    .space {
      flex: 100%;
      height: 25px;
    }
    .item {
      flex: 50%;
      .tit {
        font-size: 15px;
        @include flex(flex-start);
        img {
          margin-right: 5px;
        }
      }
      .text {
        font-size: 14px;
        color: #666666;
      }
    }
  }
  .plan_item {
    padding: 20px 25px;
    margin-bottom: 15px;
    &:hover {
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      .operate {
        img,
        .split {
          display: block;
        }
      }
    }
    pre {
      position: relative;
      white-space: break-spaces;
      span {
        position: absolute;
        left: 0;
      }
    }
  }
}

