.crop{
  &__content{
    @include flex-lay(row, nowrap, flex-start, flex-start);
  }
  &__cropper{
    flex: 1 1 auto;
    width: 75%;
  }
  &__preview{
    flex: 1 1 auto;
    margin-left: 64px;
    width: 160px;
    h3{
      font-size: 17px;
      color: #333;
    }
    &-img{
      overflow: hidden;
      margin-top: 40px;
    }
    &-circle{
      border-radius: 80px;
    }
  }
}
.base-upload-input{
  width: 0;
  height: 0;
  opacity: 0;
}
.upload{
  &--action{
    text-align: center;
    padding-top: 15px;
  }
  &__label{
    @extend %border-btn;
    margin: 0 auto 70px;
    @include size(80px, 35px);
    font-size: 14px;
    line-height: 33px;
    display: block;
  }
  &__btns{
    text-align: center;
    //@include flex-lay(row, nowrap, flex-start, center);
    div{
      display: inline-block;
      font-size: 22px;
      padding: 14px 0;
      cursor: pointer;
    }
  }
  &--quit{
    @include size(160px, 58px);
    @extend %border-btn;
  }
  &--confirm{
    margin-left: 40px;
    @include size(160px, 58px);
    @extend %fill-btn;
  }
}
