.create_new {
  // background: url(../../../../assets/img/suifang/create.png) no-repeat;
  margin-top: 36px;
  font-size: 18px;
  color: #181818;
  cursor: pointer;
  margin-bottom: 20px;
  width: 400px;
  height: 135px;
  background: #FBFBFB;
  border: 1px solid #E8E9EB;
  display: flex;
  align-items: center;
  font-weight: bold;
  :global {
    .anticon-plus {
      font-size: 40px;
      font-weight: 'bold';
      margin: 0 20px 0 60px;
      color: #3296FA;
    }
  }
}
