.size_wrap {
  position: absolute;
  left: 0;
  top: 0;
  :global {
    .ant-input {
      height: 42px;
      line-height: 42px;
    }
  }
}
.content {
  @include flex-lay(column, nowrap, flex-start, center);
}
.item {
  color: #000000;
}
.radio {
  @include flex-lay(row, wrap, flex-start, flex-start);
  margin-top: 16px;
  :global {
    .ant-radio-wrapper {
      flex: 1 1 40%;
      padding-left: 15%;
      font-size: 16px;
      color: #000000;
      line-height: 32px;
    }
  }
}
.sign {
  font-size: 14px;
  margin: 0 10px;
}
