.patient_edu {
  height: 100%;
  overflow: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  :global {
    .ant-tabs-tab-btn {
      font-size: 14px;
    }
  }
  p,
  input {
    text-align: center;
  }
  .title {
    color: #181818;
    font-size: 20px;
    :global {
      .anticon {
        margin-left: 5px;
        color: #3296fa;
      }
    }
  }
}
