.reset_pwd {
  width: 60%;
  margin: 25px auto 0;
  :global {
    .ant-input {
      height: 40px;
      line-height: 40px;
    }
    .ant-form-item-label {
      width: 80px;
      text-align: right;
    }
    .ant-input-affix-wrapper {
      padding: 0 7px;
    }
    .common__btn {
      margin: 108px 0 25px 0;
    }
  } 
}