.base_infos {
  background-color: #fff;
  padding: 15px 0;
  margin-bottom: 10px;
  .header {
    @include flex();
    span {
      font-size: 14px;
      color: #007ADA;
      cursor: pointer;
    }
    .left {
      @include flex(flex-start, center);
    }
  }
  .content {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    padding: 5px 15px 10px;
    font-size: 14px;
  }
  .item {
    @include flex();
    margin-right: 40px;
    p {
      margin: 0;
    }
  }
}
