.guide {
  font-size: 14px;
  color: #181818;
  @include flex-lay(row, nowrap, flex-start, flex-start);
  width: 70%;
  margin: 30px auto 0;
  .back {
    font-size: 17px;
    color: #666;
    margin-right: 78px;
  }
  .head {
    @extend %create__btn;
  }
  .main {
    flex: 1;
  }
  h3 {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 35px;
  }
  .template_list {
    @include flex(flex-start, center);
    flex-wrap: wrap;
    margin-left: 30px;
    a {
      flex: 0 0 24%;
      height: 24px;
      line-height: 24px;
      color: #181818;
      cursor: pointer;
      background: url(../../../assets/img/file.png) no-repeat;
      background-size: 24px 24px;
      padding-left: 38px;
      padding-right: 10px;
      margin-bottom: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}