.follow-table-detail {
  @include flex(flex-start, flex-start);
  padding-top: 30px;
  .left {
    flex: 1;
    // height: calc(100vh - 200px);
    height: calc(100vh - 130px);
    overflow-y: auto;
    .table-title {
      font-size: 20px;
      color: #181818;
      text-align: center;
    }
    .table-info {
      font-size: 14px;
      color: #8F8F8F;
      text-align: center;
    }
    .topic-list {
      padding: 45px 20px;
      // width: 820px;
      min-width: 600px;
      margin: 0 auto;
    }
    .topic-item {
      margin-bottom: 0;
      font-size: 16px;
      &__issue {
        font-size: 16px;
        color: #181818;
        margin-bottom: 16px;
      }
      .ant-checkbox-wrapper {
        display: block;
        margin-left: 0;
        margin-bottom: 12px;
        span {
          font-size: 14px;
        }
      }
      textarea.ant-input {
        width: 810px;
        height: 99px;
        resize: none;
        border: 1px solid #DFDFDF;
        border-radius: 4px;
      }
      .end-tag {
        background: #F5A623;
        border-radius: 7.5px;
        width: 55px;
        height: 18px;
        color: #fff;
        font-size: 10px;
        text-align: center;
        line-height: 18px;
        transform: scale(0.85);
        display: inline-block;
      }
      pre {
        color: #000;
        span.border {
          border-bottom: 1px solid #ddd;
          min-width: 40px;
          display: inline-block;
          margin: 0 1px;
          padding-bottom: 1px;
        }
      }
    }
  }
  .right {
    flex: 0 0 248px;
    // height: calc(100vh - 200px);
    height: calc(100vh - 160px);
    border-left: 1px solid #EFEFEF;
    padding: 0 33px 0 35px;
  }

}
