.patient-manage-side {
  text-align: left;
  padding-top: 15px;
  font-size: 14px;
  position: relative;
  height: 100%;
  .menu {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;

    &.active {
      background: #EEF2F4;
      border-radius: 3px;
    }

    a {
      font-size: 14px;
      color: #181818;
      line-height: 14px;
    }
  }

  .group-title {
    @include flex;
    margin-top: 27px;
    color: #868686;
    padding: 0 5px 13px;
  }

  .creact-tip {
    background: #F7F7F7;
    border-radius: 4px;
    width: 195px;
    height: 114px;
    color: #B9B9B9;
    padding: 13px;
    line-height: 20px;
    .btn {
      color: #3296FA;
      cursor: pointer;
      margin-top: 13px;
      line-height: 14px;
    }
  }
  .group-list {
    .item {
      height: 40px;
      line-height: 40px;
      color: #181818;
      // padding: 0 0 0 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include flex(space-between, center);
      .group_item {
        span {
          flex: 0 0 60px;
          text-align: left;
          &:nth-child(2) {
            flex: 0 0 84px;
          }
        }
        .name {
          text-align: left;
          text-overflow: ellipsis;
          word-spacing: initial;
          overflow: hidden;
          flex: 0 0 108px;
        }
      }
      .anticon {
        color: #868686;
        padding-right: 15px;
        visibility: hidden;
      }
      &:hover {
        .anticon {
          visibility: inherit;
        }
      }
      a {
        color: #181818;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: inline-block;
        width: 100%;
        .ant-input {
          height: 40px;
          padding-left: 20px;
        }
      }
      &.active {
        background: #EEF2F4;
        border-radius: 3px;
      }

    }
  }
  .create-group {
    margin-bottom: 20px;
    .ant-input {
      height: 40px;
    }
  }
  .patient_num {
    position: absolute;
    bottom:35px;
    left: 8px;
    color: #181818;
  }
}
