.common_issue {
  font-size: 14px;
  color: #181818;
  .ant-modal-body {
    padding: 30px 55px;
  }
  .ant-input {
    height: 40px;
    font-size: 14px;
  }
  .type {
    @include flex-lay(row, nowrap, flex-start, center);
    margin-bottom: 30px;
    h3{
      margin: 0;
    }
    .ant-radio-group {
      margin-left: 30px;
      .ant-radio-wrapper {
        margin-right: 30px;
        span {
          font-size: 14px;
          color: #181818;
        }
      }
    }
  }
}
.topic-list {
  font-size: 14px;
  .topic-item {
    margin: 0 auto 30px;
    padding: 20px 0;
    &.edit {
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.10);
      border-radius: 3px;
      .del-icon,
      .anticon-close {
        display: inline-block;
      }
      .choice-tx {
        display: flex;
      }
      .issue__delete {
        display: inline-block;
      }
    }
  }
  .issue {
    color: #181818;
    position: relative;
    .ant-input {
      border: none;
      font-size: 16px;
      margin-right: 5px;
      color: #181818;
      width: 96%;
    }
    &.input-empty {
      padding-left: 0;
      .ant-input {
        border-bottom: 1px solid #3296FA;
      }
    }
    &__index {
      position: absolute;
      left: 0px;
      font-size: 16px;
      top: 3px;
    }
    &__delete {
      display: none;
    }
  }

  .add-options {
    color: #3296FA;
    cursor: pointer;
  }
  .choice-tx {
    @include flex();
    margin-top: 10px;
    .ant-radio-wrapper {
      font-size: 14px;
    }
  }
  .options-list {
    .item {
      margin-top: 24px;
      position: relative;

      .anticon-border {
        color: #C1C1C1;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 10px;
        z-index: 2;
      }

      .ant-input {
        border: none;
        font-size: 14px;
        margin-right: 5px;
        padding-left: 26px;
        width: 96%;
      }
      .ant-checkbox-wrapper {
        width: 96%;
        font-size: 14px;
      }
      &.input-empty {
        .ant-input {
          border-bottom: 1px solid #3296FA;
        }
      }

      .anticon-close {
        color: #C1C1C1;
      }
    }
  }
  .answer-wrap {
    margin-top: 10px;
    textarea.ant-input {
      resize: none;
      height: 99px;
    }
  }
}
.btn {
  text-align: center;
  margin-top: 48px;
  .ant-btn {
    width: 98px;
    height: 40px;
    font-size: 14px;
    &:nth-child(2n) {
      margin-left: 32px;
    }
  }
  
}
