.structrued {
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  min-width: 632px;
  &.disabled {
    :global {
      .structured-edit-wrap {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 99;
        }
      }
      .ant-tabs-nav-list {
        .anticon-close {
          display: none;
        }
      }
      input, .ant-picker, .ant-select-selector {
        border: none!important;
      }
      .ant-select-arrow {
        display: none;
      }
    }
  }

  .save_btn {
    position: absolute;
    right: 40px;
    font-size: 16px;
    height: 34px;
    z-index: 999;
  }
  .active_btn {
    background: #EAF4FC;
    border-radius: 3px;
    color: #218CE9;
    border: none;
  }
  .checkbox_group {
    :global {
      .ant-checkbox-group {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        // width:650px;
        width:100%;
        // margin: 0 auto;
        margin-bottom: 10px;
        border-left: 1px solid #ccc;
        margin-top: 15px;
      }
      .ant-checkbox-group-item {
        flex: 0 0 25%;
        font-size: 14px;
        border: 1px solid #ccc;
        margin: 0;
        border-left: 0;
        border-top: 0;
        padding-left: 5px;
        line-height: 38px;
        position: relative;
        top: -1px;
        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
          border-top: 1px solid #ccc;
        }
      }
    }
  }
  .no_tab {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666666;
  }
}
.structured_content {
  flex: 1;
    // 多段填空禁止编辑时，ui不要显示灰色处理-s
    .ant-checkbox-wrapper, .ant-radio-wrapper {
      font-size: 14px;
    }
    .ant-tabs {
      width: 100%;
      height: 100%;
    }
    .ant-tabs-card {
      .ant-tabs-tab {
        // flex: 0 0 50%;
        margin: 0;
        padding: 5px 22px;
        font-size: 14px;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #d8d8d8;
        border-top: 3px solid transparent;
        &.ant-tabs-tab-active {
          border-color: #007ADA #d8d8d8 #fff;
          border-style: solid;
          border-width: 3px 1px 1px;
        }
        .ant-tabs-tab-btn {
          margin: 0 auto;
        }
      }
      .ant-tabs-nav {
        margin-bottom: 0;
        .ant-tabs-nav-add {
          position: relative;
          width: 90px;
          background: #fff;
          border: none;
          font-size: 14px;
          margin-left: 10px;
          height: 36px;
          line-height: 36px;
          span svg {
            display: none;
          }
          &::before {
            content: '+ 添加新单据';
            position: absolute;
            left: 0;
            top: 0;
            color: #007ADA;
          }
        }
      }
      .ant-tabs-content-holder {
        border: 1px solid #d8d8d8;
        border-top: none;
        padding: 20px;
      }
    }
    :global {
      .ant-tabs-editable-card {
        height: 100%;
        .ant-tabs-content-holder {
          border: 1px solid #E0E0E0;
          border-top: none;
          padding: 20px;
        }
        .ant-tabs-nav {
          margin-bottom: 0;
        }
        .ant-tabs-tab {
          border: none;
          border-bottom: 1px solid #E0E0E0;
          background: #fff;
        }
        .ant-tabs-tab-active {
          border: 1px solid #E0E0E0;
          border-top: 2px solid #218CE9;
          border-bottom: none;
        }
      }
    }
}


:global {
  .OTHERS, .ONESELF, .SYSTEM {
    width: 28px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    background: #7596E9;
    border-radius: 1px;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
  }
  .ONESELF {
    background: #8DD2C6;
  }
  .SYSTEM {
    background: #E5BF76;
  }
}
