.my_score {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  .total {
    color: #000;
    font-size: 30px;
    margin: 10px 0;
    position: relative;
    span {
      color: #007ADA;
      font-size: 14px;
      margin-left: 20px;
      position: absolute;
      top: 18px;
    }
  }
  .content {
    @include flex(space-between, flex-start);
    text-align: left;
    margin-top: 30px;
    border-top: 1px solid #EDF0F7;
    border-bottom: 1px solid #EDF0F7;
    padding: 0 135px;
    font-size: 13px;
    color: #666;
    .activity, .rule {
      flex: 0 0 50%;
    }
    .rule {
      border-right: 1px solid #EDF0F7;
    }
    .activity {
      padding-left: 50px;
      .item {
        margin-bottom: 10px;
      }
      .tit{
        color: #181818;
      }
      .activety_rule {
        @include flex();
      }
    }
  }
  .history {
    text-align: left;
    padding-left: 135px;
    padding-bottom: 10px;
  }
   h3 {
     margin-top: 30px;
   }
  
}
.current_money {
  font-size: 15px;
  color: #000;
  .tip {
    color: #666;
    font-size: 13px;
    margin-top: 14px;
  }
}
.bind_card {
  font-size: 15px;
  color: #000;
}