.btn {
  color: #3296FA;
  font-size: 14px;
  position: relative;
  text-align: center;
  span {
    background-color: #fff;
    padding: 0 30px;
  }
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    border-top: 1px dashed #D1D1D1;
    display: block;
    margin-top: -12px;
    // left: 0;
    // top: 50%;
    // position: absolute;
  }
}
