.biochemistry {
  .status {
    font-size: 12px;
    :global {
      .ant-form-item-label {
        width: 70px;
      }
    }
  }
  :global {
    .ant-input-number {
      border-radius: 3px;
      margin-right: 10px!important;
      width: 300px;
    }
    .ant-form-item-label {
      width: 115px;
      text-align: left;
    }
    .date_button {
      border: 1px solid #d9d9d9;
      line-height: 28px;
      padding: 0 10px;
      cursor: pointer;
    }
    .selected {
      color: #007ADA;
      border: 1px solid #007ADA;
    }
    .item_input {
      .ant-select {
        margin-bottom: 16px;
      }
    }
  }
  .list_wrap {
    border-left: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
    font-size: 14px;
    color: #181818;
    .item {
      @include flex(justify-content, stretch);
      &.bg_gray {
        background: #F6F6F6;
        :global {
          .ant-input[disabled] {
            background-color: #F6F6F6;
          }
        }
      }
      &.header{
        height: 44px;
        >div {
          height: 100%;
        }
      }
      >div {
        width: 110px;
        box-sizing: border-box;
        padding: 0 5px;
        line-height: 44px;
        text-align: center;
        border-right: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        margin-bottom: 0;
        min-width: 81px;
        // 第一列宽auto,左对齐
        &:first-child {
          flex: 1;
          width: auto;
          min-width: 75px;
          text-align: left;
          word-break: break-all;
        }
        &:nth-child(2) {
          width:  75px;
        }
        &:last-child {
          min-width: 170px;
        }
      }
      :global {
        .ant-input[disabled] {
          background-color: #fff;
          border: none;
          color: #181818;
          font-size: 14px;
        }
        .ant-input-number {
          margin-right: 0!important;
        }
        .ant-input-number, .ant-input-number-input-wrap {
          width: 100%;
        }
      }
    }
    .open_btn {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F6F6F6;
      border: 1px solid #ECECEC;
      border-top: none;
      cursor: pointer;
    }
  }

}
