.dep_head {
  height: calc(100vh - 58px);
  display: flex;
  flex: 1;
  .patient_panel {
    flex: 1;
  }
  :global {
    .ant-tabs-nav-wrap {
      padding-left: 30px;
      padding-top: 10px;
    }
  }
  .no_data {
    flex: 1;
    padding-top: 200px;
  }
}
