.far_doctor {
  margin-top: 20px;
  padding: 0 35px;
  .info_wrap {
    @include flex(flex-start, flex-start);
    margin: 0 auto;
    overflow-y: auto;
  }

  .left {
    width: 70px;
    max-height: 150px;
    margin-right: 10px;
    flex: 0 0 70px;
    .upload_avatar {
      border: 1px solid #007ada;
      color: #007ada;
      text-align: center;
      border-radius: 2px;
      font-size: 14px;
      margin-top: 10px;
      width: 70px;
      padding: 0;
    }
  }

  .right {
    flex: 1;
    :global {
      .ant-form-item {
        margin-right: 10px;
      }
      .ant-form-item-control {
        flex: auto;
      }
      .ant-row {
        flex-wrap: nowrap;
      }

      .ant-btn-primary {
        color: #fff;
      }

      .ant-col-8 {
        flex: initial;
      }
      .ant-radio-wrapper {
        height: 32px;
        line-height: 32px;
        border: 1px solid #d9d9d9;
        margin-right: 20px;
        position: relative;
        @include flex(space-around, center);
        flex-direction: row-reverse;
        flex: 0 0 120px;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      .ant-radio-group {
        display: flex;
      }

      .ant-input {
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        color: #000;
        width: 260px;
      }
      input {
        font-size: 14px;
      }
      .ant-select-selector {
        height: 32px;
        line-height: 32px;
      }

      .ant-select-selection-item {
        line-height: 32px;
      }

      .form_item_area {
        @include flex(space-between, flex-start);
        margin-bottom: 15px;
        .name {
          padding-right: 23px;
        }
      }

      .ant-form label {
        font-size: 14px;
        width: 70px;
        white-space: break-spaces;
      }
    }
  }

  .form_list {
    // @include flex(flex-start, center);
    @include flex-lay(row, wrap, flex-start, center);
    margin-bottom: 15px;
    flex-wrap: wrap;
    .left_input {
      :global {
        .ant-form-item-label {
          width: 120px;
          text-align: right;
          margin-right: 12px;
        }
      }
    }
    .hospital_wrap {
      position: relative;
      .btn {
        position: absolute;
        right: -55px;
        top: 5px;
        width: 50px;
      }
      :global {
        .ant-form-item-label {
          width: 120px;
          text-align: right;
          margin-right: 12px;
        }
      }
    }
    .right_input {
      :global {
        .ant-form-item-label {
          width: 56px;
          margin: 0 12px;
          text-align: right;
        }
      }
    }
    .line_input {
      :global {
        .ant-form-item-label {
          width: 120px;
          text-align: right;
          margin-right: 12px;
        }
        .ant-input {
          width: 610px;
        }
      }
    }
    .role_tags {
      :global {
        .ant-select-selection-item {
          line-height: 20px;
          background: #fff;
          border: 1px solid #D79A36;
          color: #D79A36;
        }
        .anticon-close {
          color: #D79A36;
          font-size: 12px;
        }
        .ant-select-selection-overflow-item {
          margin-right: 10px;
        }
        .ant-select-selection-overflow {
          line-height: 27px;
        }
      }
    }
    :global {
      .ant-row {
        @include flex-lay(row, nowrap, flex-start, center);
      }
      .ant-form-item-label {
        label {
          width: 100%;
          text-align: right;
          display: inline-block;
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .form_item {
    position: relative;
    // width: 340px;
    :global {
      .ant-picker {
        width: 260px;
        position: absolute;
        left: 80px;
        top: 0px;
        height: 32px;
      }
    }
  }

  .btn {
    margin-bottom: 20px;
    display: block;
    width: 100%;
  }
}
