.title {
  @include flex(row, nowrap, space-between, center);
  background-color: #fff;
  padding: 15px 15px 15px 25px;
}
.actions {
}
.content {
  // margin-top: 20px;
  :global {
    .ant-table-middle {
      height: calc(100vh - 250px);
      overflow: auto;
    }
  }
}
