@import '@/assets/styles/index.scss';

.layout {
  @include flex(column, nowrap, flex-start, flex-start);
  position: absolute;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  > div:nth-child(2) {
    flex: auto;
    align-self: stretch;
    overflow: hidden;
  }
}
