.add_wrap {
  @include flex(center, center);
  :global {
    .ant-input {
      width: 300px!important;
    }
    .ant-form-item-label > label {
      font-size: 14px;
    }
  }
  .btn {
    text-align: center;
    margin-top: 48px;
    :global {
      .ant-btn {
        width: 98px;
        height: 40px;
        font-size: 14px;
        &:nth-child(2n) {
          margin-left: 32px;
        }
      }
    }
  }
}
