.card {
  width: 880px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 20px 20px 30px;
  margin: 7px;
  margin-bottom: 20px;
  position: relative;
  // overflow-y: hidden;
  // transition: all 0.5s;
  // overflow-y: hidden;
  // max-height: 340px;
  font-size: 14px;

  height: 340px;
  overflow: hidden;
  transition: height 0.25s;

  :global {
    .url___3inmo {
      img,
      video {
        width: 80px !important;
        height: 80px !important;
        border-radius: 5px;
      }
    }
  }

  &.h_auto {
    height: auto;
    // max-height: 900px;
    // overflow-y: auto;
  }
  .tit {
    position: relative;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .block {
    > div {
      margin: 0 40px 30px 0;
    }
  }
  .content {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 20px 30px;
  }
  .item {
    flex: 35%;
    font-size: 15px;
    margin-bottom: 23px;
    img {
      vertical-align: baseline;
    }
    .con {
      font-size: 14px;
      color: #666;
      margin-top: 8px;
      line-height: 20px;
      margin-left: 16px;
    }
  }
  :global {
    .ant-btn-link {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }
  .btn_wrap {
    position: absolute;
    right: 0;
    top: 20px;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  .stop {
    margin-right: 30px;
    color: #f32c2e;
    font-size: 14px;
  }
  .calendar {
    // border-left: 1px solid #E0E0E0;
    // border-right: 1px solid #E0E0E0;
    position: relative;
    &::before,
    &::after {
      content: '';
      width: 1px;
      height: 14px;
      top: 50%;
      margin-top: -7px;
      position: absolute;
      left: 0;
      background-color: #e0e0e0;
    }
    &::after {
      left: 100%;
    }
  }
}
