// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
@import '@tailwindcss/postcss7-compat/base';
@import '@tailwindcss/postcss7-compat/components';
@import '@tailwindcss/postcss7-compat/utilities';
// 由 layout 引入

// html,
// body,
// div,
// span,
// applet,
// object,
// iframe,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// blockquote,
// pre,
// a,
// abbr,
// acronym,
// address,
// big,
// cite,
// code,
// del,
// dfn,
// em,
// img,
// ins,
// kbd,
// q,
// s,
// samp,
// small,
// strike,
// strong,
// sub,
// sup,
// tt,
// var,
// b,
// u,
// i,
// center,
// dl,
// dt,
// dd,
// ol,
// ul,
// li,
// fieldset,
// form,
// label,
// legend,
// table,
// caption,
// tbody,
// tfoot,
// thead,
// tr,
// th,
// td,
// article,
// aside,
// canvas,
// details,
// embed,
// figure,
// figcaption,
// footer,
// header,
// hgroup,
// menu,
// nav,
// output,
// ruby,
// section,
// summary,
// time,
// mark,
// audio,
// video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section {
//   display: block;
// }
// body {
//   line-height: 1;
// }
// ol,
// ul {
//   list-style: none;
// }
// blockquote,
// q {
//   quotes: none;
// }
// blockquote:before,
// blockquote:after,
// q:before,
// q:after {
//   content: '';
//   content: none;
// }
// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }


body {
  img,
  svg {
    display: inline-block;
    vertical-align: bottom;
  }
  svg {
    vertical-align: initial;
  }
}
.flex-center {
  justify-content: center;
  align-items: center;
}
// button按钮样式
.common__btn {
  @extend %common__btn;
}
textarea {
  resize: none;
}
.pointer {
  cursor: pointer;
}

// 关于表单，高度要设置42的
#height42 {
  &.ant-form {
    .ant-form-item-control-input-content,
    .ant-input {
      @extend %common_height;
    }
    textarea {
      &.ant-input {
        line-height: 22px;
      }
    }
    .ant-select-selector {
      height: 42px;

      .ant-select-selection-search-input {
        @extend %common_height;
      }
    }

    .ant-select-selection-item {
      line-height: 42px;
    }

    .ant-select-selection-placeholder {
      font-size: 14px;
      color: #999999;
      line-height: 42px;
    }

    label {
      height: 42px;
    }
    .ant-input-number-input {
      height: 42px;
    }
  }
}
#height34 {
  &.ant-form {
    .ant-select-selector {
      height: 34px;
    }
    .ant-form-item-control-input-content,
    .ant-input,.ant-input-search-button {
      height: 34px;
      line-height: 34px;
    }
    .ant-select-selector {
      height: 34px;

      .ant-select-selection-search-input {
        height: 34px;
        line-height: 34px;
      }
    }

    .ant-select-selection-item {
      line-height: 34px;
    }

    .ant-select-selection-placeholder {
      font-size: 14px;
      color: #999999;
      line-height: 34px;
    }

    label {
      height: 34px;
    }
    .ant-input-number-input {
      height: 34px;
    }
  }
}
.modal {
  label {
    @extend %common_height;
  }

  .ant-form-item {
    margin-bottom: 8px;
  }
  .ant-input-number-input {
    @extend %common_height;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 42px;
    input {
      height: 42px;
    }
  }
  .ant-select-selection-item,
  .ant-select-selection-placeholder {
    line-height: 42px !important;
    font-size: 14px;
  }
  .list_item {
    margin-bottom: 9px;
  }
  .info {
    @include flex();
    .ant-form-item-control-input-content {
      font-size: 14px;
    }
    .ant-select-selector,
    .ant-select-selection-item {
      @extend %common_height;
    }
  }
  .history {
    margin-bottom: 20px;
    .ant-form-item-control-input-content {
      @include flex();
      font-size: 14px;
      .family-label {
        flex: 1 0 auto;
        margin-right: 10px;
        display: inline-block;
        text-align: right;
      }
    }
    .ant-select-selector {
      height: 42px;
      line-height: 42px;
    }
    .ant-select-selection-item {
      height: 40px;
      line-height: 40px;
      margin-top: 0;
    }
  }
  .more-padding {
    padding: 0 30px;
  }
}
// 确认提示框
.confirm_ignore {
  .ant-popover-message {
    padding: 16px 0 30px;
    font-size: 20px;
    color: $import-text-color;
    > .anticon {
      line-height: 29px;
      font-size: 18px;
      top: 20px;
    }

    .ant-popover-message-title {
      padding-left: 25px;
    }
  }

  .ant-popover-buttons {
    > button {
      width: 140px;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      background-color: $theme-color;

      &:first-child {
        background-color: #fff;
        color: $theme-color;
        border-color: $theme-color;
      }
    }
  }
}
textarea.ant-input {
  font-size: 14px;
}
// antd
body {
  font-size: 14px;

  .ant-input {
    &input {
      height: 32px;
      line-height: 32px;
    }
  }

  .anticon {
    font-size: 16px;
    cursor: pointer;
  }

  .ant-tabs-tabpane-inactive {
    overflow: hidden;
  }

  .ant-tabs-ink-bar {
    height: 3px;
  }

  .ant-modal {
    padding-bottom: 0;
  }
  .ant-modal-content {
    border-radius: 5px;
  }
  .ant-modal-header {
    padding: 0;
    height: 50px;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 5px 5px 0 0;
  }

  .ant-modal-body {
    padding: 30px;
    overflow-y: auto;
    color: #000;
    max-height: 80vh;
    overflow-y: auto;
  }

  .ant-modal-title,
  .ant-modal-close-x {
    line-height: 50px;
    text-align: center;
    color: #333;
    font-size: 20px;
  }

  .ant-modal-close-x {
    color: #979797;
    font-size: 24px;
  }

  .ant-tabs-bar {
    margin-bottom: 20px;
  }

  // 表格样式
  .ant-table-tbody > tr,
  .ant-table-tbody > tr > td,
  .ant-table-thead > tr {
    transition: all 0s;
    text-align: center;
  }

  .ant-table {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    .anticon-frown-o:before {
      content: '\E62D';
    }
  }

  .anticon-search:before {
    color: $theme-color;
  }

  .ant-table-placeholder {
    // @include flex-lay(row, nowrap, center, center);
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
  }

  .ant-table-tbody > tr.ant-table-row-hover > td,
  .ant-table-tbody > tr:hover > td,
  .ant-table-thead > tr.ant-table-row-hover > td,
  .ant-table-thead > tr:hover > td {
    background: #fff;
    // border-width: 1px 0;
    // border-style: solid;
    // border-color: $theme-color;
    // padding: 15px 8px 16px;
    transition: all 0s;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 16px 8px;
  }

  .ant-table-thead > tr > th {
    background-color: #f8fafa;
    font-size: 14px;
    text-align: center;
  }

  .ant-badge,
  .ant-calendar,
  .ant-select,
  .ant-select-dropdown-menu-item {
    font-size: 14px;
  }

  .ant-select-dropdown-menu-item {
    padding: 5px 6px;
  }

  .anticon-down {
    font-size: 12px;
  }

  .ant-badge-dot {
    width: 8px;
    height: 8px;
    background: #f04134;
  }

  .ant-calendar-today .ant-calendar-date {
    font-weight: 400;
  }

  .ant-badge-count {
    background: #f04134;
    box-shadow: none;
  }

  .ant-select-selection__clear {
    top: 45%;
    right: 18px;
  }

  .ant-select-selection__rendered {
    margin-left: 0;
    padding-left: 5px;
  }
  .ant-select-item-option-content {
    font-size: 14px; // select下拉框样式
  }
  .ant-modal-wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
    &.new-header {
      .ant-modal-header {
        border-top: 2px solid #3296FA;
        background: #fff;
        border-bottom: 1px solid #ECECEC;
        .build-title {
          padding-left: 30px;
          text-align: left;
        }
      }
    }
    .ant-modal {
      top: 0;
    }
  }
  // 全屏modal、化验单检查单审核图片时使用
  .ant-modal-wrap-full {
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-modal-header, .ant-modal-close {
      display: none;
    }
    .ant-modal {
      margin: 0;
      height: 100%;
      top: 0;
    }
    .ant-modal-content {
      height: 100%;
    }
    .ant-modal-body {
      padding: 0;
      max-height: 100vh;
    }
  }
}
.no_padding {
  .ant-modal-body {
    padding: 0;
  }
}
.ant-modal-footer {
  text-align: center;
  .ant-btn {
    font-size: 16px;
    line-height: 14px;
    border-radius: 5px;
  }
}
.cancel_text_blue {
  .ant-btn {
    border: 1px solid #007ada;
    color: #007ada;
    padding: 3px 18px;
    box-sizing: content-box;
  }
  .ant-btn-primary {
    background-color: #007ada;
    color: #fff;
  }
}
.ant-form {
  label {
    font-size: 14px;
  }
}
.ant-badge-not-a-wrapper:not(.ant-badge-status) {
  vertical-align: inherit;
  margin-left: 2px;
}
.confirm__notification {
  border-top: 5px solid #26c670;
}
.ant-notification-notice-message {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 8px;
}
.ant-notification-notice-description {
  font-size: 14px;
  color: #000;
}
// modal弹框在ie居中问题，由于使用align-items:center，在ie上不生效。这里使用媒体查询方法实现针对ie的处理。
// 它就是-ms-high-contrast，只有IE10/11实现了这个属性，它可以有两个值active或none
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ant-modal-wrap-center {
    left: 50%;
    transform: translateX(-50%);
  }
}

.ant-input-number {
  font-size: 14px;
}

.ant-table-pagination.ant-pagination {
  justify-content: center;
}

// 气泡确认框，确认按钮字体放大12->14
.ant-popover-buttons {
  .ant-btn-sm {
    height: 26px;
    font-size: 15px;
    padding: 0 20px;
  }
}
.mode_hide {
  display: none!important;
}
.mode_block {
  display: block!important;
}

.react-viewer-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-viewer-btn[data-key=customStructured] {
  background: rgba(2, 122, 218, 0.8);
  width: 100px;
  height: 46px;
  padding: 2px 15px;
  .react-viewer-btn {
    background-color: transparent;
  }
  &:hover {
    background: rgba(2, 122, 218, 0.9);
  }
}
// 1.图片查看器关闭按钮是1010，
// 2.在此基本上弹框图片结构化界面设置1010才能盖住。
// 3.此时message官方层级是1010会显示不出来,这里设置为1011
.ant-message {
  z-index: 1011;
}

.ant-form {
  label {
    font-size: 14px!important;
  }
}
// 搜索框的搜索按钮
.ant-input-search-button {
  height: 35px!important;
}
.ant-input-search {
  input {
    height: 35px;
    font-size: 14px;
  }
}
.ant-select.ant-select-single.ant-select-show-arrow {
  .ant-select-selector {
    height: 34px;
  }
  .ant-select-selection-placeholder {
    line-height: 34px;
    font-size: 14px;
  }
  .ant-select-selection-item {
    font-size: 14px;
    line-height: 34px;
  }
}
