.item {
  margin-bottom: 30px;
}
.info {
  font-size: 14px;
}
.action {
  margin: 10px 0;
}
.viewer,
.time {
  font-size: 14px;
  padding: 0;
}
.time {
  font-size: 12px;
  color: #666;
}
.avatar {
  margin-top: 10px;
}
.patients {
  h2 {
    font-size: 14px;
  }
  .name {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    font-size: 12px;
    text-align: center;
  }
}
.imgs {
  li,
  img {
    width: 50px;
    height: 50px;
  }
  li {
    margin-right: 10px;
  }
}
.patient {
  img {
    width: 50px;
    height: 50px;
  }
}
